#kwadrat {
  width: 100px;
  height: 100px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
}

  body {
    background-color: black;
  }
  
  header {
    text-align: center;
    background-color: black;
    color: white;
  }
  
  section,
  footer {
    background-color: black;
    color: white;
  }
  